<%= flash[:notice] %>
<h1>Book detail</h1>
<div>
  <p><%= image_tag 'user_image.jpg' %></p>
  <p><%= @book.title %></p>
  <p><%= @book.body %></p>
  <div><%= link_to "Edit", edit_book_path %></div>
  <div>
    <% if @book.user_id == current_user %>
      <%= link_to "Destroy", destroy_book_path, method: :delete, "data-confirm" => "Are you sure?" %>
    <% end %>
  </div>
  <p><%= current_user.name %></p>
</div>